<%= form_with model: @event do |f| %>
  <div class="form-container">
    <% if @event.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :game_id, "ゲームを選択" %>
      <%= f.collection_select :game_id, Game.all, :id, :name, prompt: "ゲームを選択してください" %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="event-form">
      <%= f.text_field :title, placeholder: "タイトル", class: "form-input" %>
      <%= f.text_area :body, placeholder: "内容", class: "form-input" %>
      <%= f.text_area :place, placeholder: "開催場所", class: "form-input" %>
      <%= f.datetime_field :date, class: "form-input" %>
    </div>

    <%= f.submit "投稿する", class: 'submit-button' %>
  </div>
<% end %>