<div class='container'>
  <h1 class="event-title"><%= @event.title %></h1>
  <p>投稿者：<%= link_to @event.user.name, user_path(@event.user) %></p>
  <p><strong>ゲーム名:</strong> <%= @game.name %></p>
  <p><strong>ジャンル名:</strong> <%= @genre.name %></p>

  <% if @event.user == current_user %>
    <div class="edit-link">
      <%= link_to '編集', edit_event_path(@event), class: "btn btn-primary" %>
    </div>
  <% end %><br>

  <p class="event-body"><strong>イベント内容：</strong><%= @event.body %></p>
  <p class="event-body"><strong>開催場所：</strong><%= @event.place %></p>
  <p class="event-body"><strong>開催時間：</strong><%= @event.date.strftime("%Y/%m/%d %H:%M") %></p>


  <div class="d-flex justify-content-center">
    <%= link_to '自分の投稿一覧（マイページ）へ', mypage_users_path, class: 'btn btn-secondary' %>&nbsp;
    <%= link_to 'みんなのイベント一覧へ', events_path, class: "btn btn-secondary" %>
  </div>

  <div class='container2'>
    <p><strong>コメント</strong> (<%= @comments.count %> 件)</p>
    

    <% if @comments.any? %>
      <table class="table horizontal-only">
        <thead>
          <tr>
            <th></th>
            <th>ユーザー名</th>
            <th>コメント</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <% if comment.user.profile_image.attached? %>
                  <%= image_tag comment.user.profile_image, width: 50, height: 50, alt: "Profile Image" %>
                <% else %>
                  <%= image_tag "no_image.jpg", width: 50, height: 50, alt: "No image" %>
                <% end %>
              </td>
              <td><%= comment.user.name %></td>
              <td><%= comment.body %></td>
              <td><small class="text-muted"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></small></td>
              <td>
                <% if comment.user == current_user %> <!-- 自分のコメントのみ操作可能 -->
                  <%= link_to "編集", edit_event_comment_path(comment.commentable_id, comment), class: "btn btn-sm btn-secondary" %>
                  <%= link_to "削除", event_comment_path(comment.commentable_id, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>まだコメントはありません。</p>
    <% end %>

    <div class='container'>
      <%= form_with(model: [@event, @event.comments.build], local: true) do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <div class="form-group">
          <%= f.label :body, "コメントを追加" %>
          <%= f.text_area :body, class: "form-control", placeholder: "コメントを入力..." %>
        </div>
        <div class="form-group">
          <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
