<div class='container'>
  <%= link_to "新規作成", new_group_path, class: "btn btn-primary" %>
  <h2 style="color:rgb(107, 107, 107); text-align: center; border-bottom: 1px solid rgb(223, 223, 223);">グループ一覧</h2>
  
  <% if @groups.any? %>
    <table class="diary-table">
      <tr>
        <th>グループ名</th>
        <th>ゲーム</th>
        <th>ジャンル</th>
      </tr>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group_path(group) %></td>
          <td><%= group.game.name %></td>
          <td><%= group.genre.name %></td>
        </tr>
      <% end %>
    </table>
    <div class="d-flex justify-content-center">
      <%= paginate @groups %> 
    </div>
  <% else %>
    <p>まだグループは作成されていません</p>
  <% end %>
</div>