<div class='container'>
  <h1>グループを作成</h1>
  <%= form_with model: @group, local: true do |f| %>
    <% if @group.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :game_id, "ゲームを選択" %>
      <%= f.collection_select :game_id, Game.all, :id, :name, prompt: "ゲームを選択してください" %>
    </div>

    <div class="form-group">
      <%= f.label :name, "グループ名" %>
      <%= f.text_field :name, value: @group.name %>
    </div>
    <div class="form-group">
      <%= f.label :body, "このグループの概要(空欄も可)" %>
      <%= f.text_area :body, value: @group.body %>
    </div>
    <div class="form-group">
      <%= f.label :is_public, "公開グループにする" %>
      <%= f.check_box :is_public %>
    </div>

    <%= f.submit "作成", class: 'submit-button' %>
  <% end %>
</div>