<p>ユーザーが投稿したイベント一覧</p>
<div class='container'>
  <h1>イベント一覧</h1>
  <% if @events.any? %>
    <table class="event-table">
      <tr>
        <th>is_deleted</th>
        <th>投稿者</th>
        <th>ゲーム</th>
        <th>ジャンル</th>
        <th>タイトル</th>
        <th>開催日時</th>
        <th>削除理由</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.is_deleted %></td>
          <td><%= event.user.name %></td>
          <td><%= event.game.name %></td>
          <td><%= event.genre.name %></td>
          <td><%= link_to event.title, admin_event_path(event) %></td>
          <td><%= event.date.strftime("%Y/%m/%d %H:%M") %></td>
          <td><%= event.deleted_reason %></td>
          <td><%= link_to '編集', edit_admin_event_path(event) %></td>
          <td><%= link_to '削除', admin_event_path(event), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>まだ投稿はありません</p>
  <% end %>
</div>