<p>ユーザーが投稿したイベント一覧</p>
<div class='container'>
  <h1>イベント一覧</h1>
  <% if @events.any? %>
    <table class="event-table">
      <tr>
        <th>is_deleted</th>
        <th>投稿者</th>
        <th>ゲーム</th>
        <th>ジャンル</th>
        <th>タイトル</th>
        <th>開催日時</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.is_deleted %></td>
          <td><%= event.user.name %></td>
          <td><%= event.game.name %></td>
          <td><%= event.genre.name %></td>
          <td><%= link_to event.title, admin_event_path(event) %></td>
          <td><%= event.date.strftime("%Y/%m/%d %H:%M") %></td>
          <% if event.is_deleted? %>
            <td><p>削除理由: <%= event.deleted_reason %></p></td>
          <% else %>
            <td><%= link_to '編集', edit_admin_event_path(event) %></td>
            <td><%= button_to '削除', '#', class: 'btn btn-danger delete-btn', data: { event_id: event.id } %></td>
            <td>
              <div id="delete-reason-form-<%= event.id %>" class="delete-reason-form" style="display: none;">
                <%= form_with url: admin_event_path(event.id, event), method: :delete, local: true do |form| %>
                  <%= form.label :reason, "削除理由" %>
                  <%= form.text_area :reason, rows: 4 %>
                  <%= form.submit "削除", class: "btn btn-danger" %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>まだ投稿はありません</p>
  <% end %>
</div>

<%= javascript_pack_tag 'admin_events' %>