
<div class="p-4 bg-white rounded shadow-sm text-center">
  <p class="text-primary">「つながる楽しさ」を見つけよう！</p>
  <p class="text-muted">公式・非公式、オンライン・オフラインを問わず、皆で集まり交流できるコミュニティサイトへようこそ！<br>
                        ゲームやイベント情報の共有、オフ会やオンラインセッションの企画、そして新しい仲間との出会い――<br>
                        ここでは、さまざまな情報を集めて交流の輪を広げることができます。<br>
                        あなたの「楽しい」をもっと広げるコミュニティを一緒に作りましょう！</p>
</div>

<div class="container my-4">
  <h2 style="color:rgb(136, 136, 136); text-align: center; border-bottom: 1px solid rgb(223, 223, 223);">最近の投稿</h2>
  <div class="p-4 bg-white rounded shadow-sm text-center">
    <h2 class="text-primary">日記</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>作成日</th>
          <th>ゲーム（ジャンル）</th>
        </tr>
      </thead>
      <tbody>
        <% if @recent_diaries.any? %>
          <% @recent_diaries.each do |diary| %>
            <tr>
              <td><%= link_to diary.title, diary_path(diary) %></td>
              <td><%= l diary.created_at, format: :short %></td>
              <td><%= diary.game.name%>(<%= diary.genre.name %>)</td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">まだありません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container my-4">
  <div class="p-4 bg-white rounded shadow-sm text-center">
    <h2 class="text-primary">イベント</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>作成日</th>
          <th>ゲーム（ジャンル）</th>
        </tr>
      </thead>
      <tbody>
        <% if @recent_events.any? %>
          <% @recent_events.each do |event| %>
            <tr>
              <td><%= link_to event.title, event_path(event) %></td>
              <td><%= l event.created_at, format: :short %></td>
              <td><%= event.game.name%>(<%= event.genre.name %>)</td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">まだありません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container my-4">
  <div class="p-4 bg-white rounded shadow-sm text-center">
    <h2 class="text-primary">グループ</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>グループ名</th>
          <th>作成日</th>
          <th>ゲーム（ジャンル）</th>
        </tr>
      </thead>
      <tbody>
        <% if @recent_groups.any? %>
          <% @recent_groups.each do |group| %>
            <tr>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= l group.created_at, format: :short %></td>
              <td><%= group.game.name%>(<%= group.genre.name %>)</td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">まだありません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>