<div class="container">
  <h1>ゲーム一覧</h1>
  <%= button_to '新規作成', new_admin_game_path(@game) %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ゲーム名</th>
        <th>ジャンル</th>
        <th>詳細</th>
        <th>編集</th>
        <%# <th>削除</th> %>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.genre.name %></td>
          <td><%= link_to '詳細', admin_game_path(game), class: 'btn btn-primary' %></td>
          <td><%= link_to '編集', edit_admin_game_path(game), class: 'btn btn-warning' %></td>
          <%# <td><%= link_to '削除', admin_game_path(game), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>