<div class="container">
  <h1>ジャンル一覧</h1>
  <%= button_to '新規作成', new_admin_game_path(@game) %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ジャンル</th>
        <%# <th>詳細</th> %>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <%# <td><%= link_to '詳細', admin_genre_path(genre), class: 'btn btn-primary' %>
          <td><%= link_to '編集', edit_admin_genre_path(genre), class: 'btn btn-warning' %></td>
          <td><%= link_to '削除', admin_genre_path(genre), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>