<%= form_with model: @diary, url: diaries_path(game_id: @game.id) do |f| %>
  <div class="form-container">
    <% if @diary.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @diary.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="game-info">
      <p><strong>ゲーム名:</strong> <%= @game.name %></p>
      <p><strong>ジャンル名:</strong> <%= @genre.name %></p>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :game_id, value: @game.id %>

    <!-- 日記フォーム -->
    <div class="diary-form">
      <%= f.hidden_field :genre_id, value: @genre.id %>
      <%= f.text_field :title, placeholder: "タイトル", class: "form-input" %>
      <%= f.text_area :body, placeholder: "本文", class: "form-input" %>
    </div>

    <%= f.submit "投稿する", class: 'submit-button' %>
  </div>
<% end %>