<div class='container'>
  <h1>日記を作成</h1>
  <%= form_with model: @diary do |f| %>
    <div class="form-container">
      <% if @diary.errors.any? %>
        <div class="error_messages">
          <ul>
            <% @diary.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div>
        <%= f.label :game_id, "ゲームを選択" %>
        <%= f.collection_select :game_id, Game.all, :id, :name, prompt: "ゲームを選択してください" %>
      </div>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="diary-form">
        <%= f.text_field :title, placeholder: "タイトル", class: "form-input" %>
        <%= f.text_area :body, placeholder: "本文", class: "form-input" %>
      </div>

      <%= f.submit "投稿する", class: 'submit-button' %>
    </div>
  <% end %>
</div>