<div class='container'>
  <h1 class="diary-title"><%= @diary.title %></h1>

  <% if @diary.user == current_user %>
    <div class="edit-link">
      <%= link_to '編集', edit_diary_path(@diary), class: "btn btn-primary" %>
    </div>
  <% end %>

  <p class="diary-body"><%= @diary.body %></p>

  <%= link_to '自分の投稿一覧（マイページ）へ', mypage_users_path, class: 'btn btn-secondary' %>
  <%= link_to 'みんなの日記一覧へ', diaries_path, class: "btn btn-secondary" %>
</div>