<div class='container'>
  <h2 style="color:rgb(107, 107, 107); text-align: center; border-bottom: 1px solid rgb(223, 223, 223);"><%= @diary.title %></h2>
  <p>投稿者：<%= link_to @diary.user.name, user_path(@diary.user) %></p>

  <% if @diary.user == current_user %>
    <div class="edit-link">
      <%= link_to '編集', edit_diary_path(@diary), class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class='container'>
    <p><%= simple_format(@diary.body) %></p>
  </div>

  <%= link_to '自分の投稿一覧へ', mypage_users_path, class: 'btn btn-secondary' %>
  <%= link_to '日記一覧へ', diaries_path, class: "btn btn-secondary" %>
</div>