<div class='container'>
  <h1>ユーザー一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>イベント数</th>
        <th>日記数</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if user == current_user %>
              <%= link_to user.name, mypage_users_path %>
            <% else %>
              <%= link_to user.name, user_path(user) %>
            <% end %>
          </td>
          <td><%= user.events.where(is_deleted: false).count %></td>
          <td><%= user.diaries.where(is_deleted: false).count %></td>
          <td>
            <% if user == current_user %>
              <%= link_to '編集', edit_user_path(user), class: "btn btn-secondary btn-sm" %>
            <% else %>
              <p></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_pack_tag 'admin_users' %>