<div class='container'>
  <h1 class="mypage-title"><%= @user.name %> さんのマイページ</h1>

  <div class="profile">
    <h3>プロフィール情報</h3>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, width: 150, height: 150, alt: "Profile Image" %>
      <% else %>
        <%= image_tag "no_image.jpg", alt: "No image" %>
      <% end %>
    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
    <p><strong>登録日:</strong> <%= @user.created_at.strftime('%Y/%m/%d') %></p>
    <%= link_to '編集', edit_user_path(@user), class: 'btn btn-secondary' %>

    <p><strong>参加しているグループ</strong></p>
      <% if @user.groups.any? && @user.groups.any? { |group| group.group_members.find_by(user: @user).status != "了承待ち" } %>
        <% @user.groups.each do |group| %>
          <% group_member = group.group_members.find_by(user: @user) %>
          <% if group_member.present? && group.is_public && group_member.status != "了承待ち" %>
            <li>
              <%= link_to group.name, group_path(group) %>
              <% if group_member.status != 0 %>
                <span>(<%= group_member.role %>)</span>
              <% else %>
                <span>ステータス: <%= group_member.status %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <p>  まだどのコミュニティにも加入していません</p>
      <% end %>

    <!-- 了承待ちのグループ -->
    <p><strong>勧誘を受けているグループ</strong></p>
    <% pending_groups = @user.groups.select do |group| %>
      <% group_member = group.group_members.find_by(user: @user) %>
      <% group_member.present? && group_member.status == "了承待ち" %>
    <% end %>

    <% if pending_groups.any? %>
      <% pending_groups.each do |group| %>
        <p>・<%= link_to group.name, group_path(group) %></p>
      <% end %>
    <% else %>
      <p>まだありません</p>
    <% end %>
  </div>
</div>

<div class='container'>
  <p><strong>日記</strong></p>
  <table class="diary-table">
    <thead>
      <tr>
        <th>投稿タイトル</th>
        <th>ゲーム</th>
        <th>投稿日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @diaries.any? %>
        <% @diaries.each do |diary| %>
          <tr>
            <td class="align-middle col-md-3">
              <%= link_to diary.title, diary_path(diary), class: "diary-link" %>
            </td>
            <td><%= diary.game.name %> (<%= diary.genre.name %>)</td>
            <td><%= diary.created_at.strftime('%Y/%m/%d %H:%m') %></td>
            <td></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" class="no-posts">まだ投稿はありません</td>
        </tr>
      <% end %>
    </tbody>
  </table><br>
  <p><strong>開催イベント</strong></p>
  <table class="event-table">
    <thead>
      <tr>
        <th>投稿タイトル</th>
        <th>ゲーム</th>
        <th>投稿日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @events.any? %>
        <% @events.each do |event| %>
          <tr>
            <td class="align-middle col-md-3">
              <%= link_to event.title, event_path(event), class: "event-link" %>
            </td>
            <td><%= event.game.name %> (<%= event.genre.name %>)</td>
            <td><%= event.created_at.strftime('%Y/%m/%d %H:%m') %></td>
            <td>
              <i class="fa-solid fa-comment" style="color:rgb(37, 83, 131);"></i>
              <span style="color:rgb(37, 83, 131);"><%= event.comments.count %></span>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" class="no-posts">まだ投稿はありません</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>