<div class='container'>
  <h3><%= @user.name %>&nbsp;さんのマイページ</h3>

  <div class="profile">
    <h5>【プロフィール情報】</h5>
    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
    <p><strong>登録日:</strong> <%= @user.created_at.strftime('%Y/%m/%d') %></p>
    <!-- 必要な項目を追加 -->
  </div>

  <div class="posts">
    <h5>【投稿一覧】</h5>
    <% if @diaries.any? %>
      <% @diaries.each do |diary| %>
        <div class="post">
          <h3><%= link_to diary.title, diary_path(diary) %></h3>
          <p><%= truncate(diary.body, length: 100) %></p>
        </div>
      <% end %>
    <% else %>
      <p>まだ投稿はありません</p>
    <% end %>
  </div>
</div>